includes:
	- vendor/lychee-org/phpstan-lychee/phpstan.neon

parameters:
	reportMaybesInPropertyPhpDocTypes: true
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	paths:
		- src
		- tests
	ignoreErrors:
		-  '#Access to an undefined property LycheeOrg\\PhpFlickrJustifiedLayout\\Contracts\\AspectRatio::\$aspect_ratio.#'
		-  '#Access to an undefined property LycheeOrg\\PhpFlickrJustifiedLayout\\Contracts\\WidthHeight::\$height.#'
		-  '#Access to an undefined property LycheeOrg\\PhpFlickrJustifiedLayout\\Contracts\\WidthHeight::\$width.#'
