includes:
	- vendor/lychee-org/phpstan-lychee/phpstan.neon

parameters:
	reportMaybesInPropertyPhpDocTypes: true
	checkMissingIterableValueType: false
	paths:
		- src
		- tests
	ignoreErrors:
		- '#Dynamic call to static method PHPUnit\\Framework\\Assert::assertEquals#'
#		- '#Array has (2|3) duplicate keys#'
